@charset "UTF-8";

html {
	font-size: 62.5%;
}

html body {
	color: dimgray;
	font-size: 1.4rem;
}

.category__item {
	margin: 0 2.5px;
}
.category__item:first-child {
	margin-left: 0;
}
.category__item:last-child {
	margin-right: 0;
}