@charset "UTF-8";

html {
	font-size: 62.5%;
}

html body {
	color: dimgray;
	font-size: 1.4rem;
}

.criteria {
	width: 70px;
	margin: 2.5px 0;
}
.criteria--long {
	width: inherit;
}
.criteria__partial_match {
	margin: 5px 0;
}

.criteria__partial_match input {
	width: 115px;
}
.criteria__foreign_key {
	margin-bottom: 7.5px;
}
.criteria__partial_match {
	margin-top: 12.5px; 
}

.category__list {
	margin-top: 12.5px;
}
.category__item {
	margin: 0 2.5px;
}
.category__item:first-child {
	margin-left: 0;
}
.category__item:last-child {
	margin-right: 0;
}

.no--linked {
	pointer-events: none;
	color: dimgray;
	font-weight: bold;
	text-decoration: none;
}

.ul__text--bold {
	font-weight: bold;
}
