<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="pages/parts/head"></head>
<body>
	<header th:replace="pages/parts/header"></header>
	<main>
		<article>
			<h2>利用者管理</h2>
			<section>
				<h3>利用者一覧</h3>
				<nav class="search__criteria">
					<form class="criteria__foreign_key" action="/advanced.spring.org/users/list" method="get">
						<select name="prefectureCode">
							<option value="">--- 都道府県 ---</option>
							<th:block th:each="prefecture : ${prefectures}">
								<option th:value="${prefecture.code}"
										th:text="${prefecture.code} + '：' + ${prefecture.name}"
										th:selected="${prefecture.code == prefectureCode}"></option>
							</th:block>
						</select>
						<th:block th:each="role : ${roles}">
							<input type="radio" name="role"
								   th:value="${role.id}"
								   th:id="'role_' + ${role.id}"
								   th:checked="${role.id == roleId}" />
							<label th:for="'role_' + ${role.id}"
								   th:text="${role.name}"></label>
						</th:block>
						<button>検索</button>
					</form>
					<form class="criteria__partial_match" action="/advanced.spring.org/users/list" method="get">
						<input type="text" name="name" placeholder="氏名" th:value="${name}" />
						<button>検索</button>
					</form>
				</nav>
				<th:block th:unless="${users}">
					<p>利用者は見つかりませんでした。</p>
				</th:block>
				<th:block th:if="${users}">
					<p>[[${users.size()}]]人の利用者が見つかりました。</p>
					<table border="1">
						<tr>
							<th>利用者ID</th>
							<th>権限コード</th>
							<th>利用者氏名</th>
							<th>都道府県</th>
							<th>住所</th>
							<th>電話番号</th>
							<th>メールアドレス</th>
							<th>生年月日</th>
							<th>パスワード</th>
						</tr>
						<tr th:each="user : ${users}">
							<td th:text="${user.id}"></td>
							<td th:text="${user.role}"></td>
							<td th:text="${user.name}"></td>
							<td th:text="${user.prefecture}"></td>
							<td th:text="${user.address}"></td>
							<td th:text="${user.phone}"></td>
							<td th:text="${user.email}"></td>
							<td th:text="${user.birthday}"></td>
							<td th:text="${user.password}"></td>
						</tr>
					</table>
				</th:block>
				<p><a href="/advanced.spring.org/menu">機能メニュに戻る</a></p>
			</section>
		</article>
	</main>
	<footer th:replace="pages/parts/footer"></footer>
</body>
</html>